body {
    background-color: lightcyan;
}

header {
    background-color: lightgoldenrodyellow;
}

ul li {
    display: inline;
    padding-right: 100px;
    padding-left: 100px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}

ul li a:link {
    text-decoration: none;
    color: black;
}

ul li a:visited {
    color: black;
}

ul li a:hover {
    color:red;
}

#logoText{
    color: red;
    font-family: Arial, Helvetica, sans-serif;
}

#logoPic {
    height: 50px;
    width: auto;
}

#logoPair {
    display: block;
    align-items: center;
}

#logoTagline {
    display: flex;
}

#pageSelectionWrapper {
    text-align: center;
}

#selectionList {
    display: inline-block;
}

@media only screen and (min-width: 999px){
    /*Desktop layout adjustments*/
}

@media only screen and (min-width: 400px) and (max-width: 999px){
    /*Tablet layout adjustments*/
}

@media only screen and (min-width: 399px){
    /*Phone layout adjustments*/
}